.user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
}

.user_input {
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  border-radius: 8px;
  border: 1px solid rgba(7, 94, 84, 0.521);
  font-size: 16px;
}

.user_input:focus {
  outline: none;
  border: 1px solid rgb(8, 85, 76);
}

.user_input_label {
  font-size: 18px;
  color: #25974f;
}

.user_submit {
  position: relative;
  padding: 8px;
  height: 50%;
  font-size: 15px;
  border-radius: 8px;
  border: 0;
  background-color: #128c7e;
  color: #fff;
  margin-top: 4px;
}
.user_submit:focus {
  outline: none;
}
